name: Build docker image
on:
  push:
    branches:
      - master
      - multiarch-build
    tags:
      - '**'
    workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      platforms: ${{ steps.setup.outputs.platforms }}
    steps:
      - uses: actions/checkout@v4
      - name: Prepare Matrix
        id: setup
        uses: ./.github/actions/prepare
        with:
          DOCKER_USERNAME: "${{ vars.DOCKER_USERNAME }}"
          DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
  deploy:
    needs:
      - prepare
    runs-on: ${{ matrix.runner }}
    continue-on-error: true
    strategy:
      matrix:
        include: ${{fromJson(needs.prepare.outputs.platforms)}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy
        with:
          platform: ${{ matrix.platform }}
          tag: ethpandaops/ethereum-genesis-generator:${{ needs.prepare.outputs.tag }}
          DOCKER_USERNAME: "${{ vars.DOCKER_USERNAME }}"
          DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
  manifest:
    needs:
      - prepare
      - deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/manifest
        with:
          tag: ${{ needs.prepare.outputs.tag }}
          repository: ethpandaops/ethereum-genesis-generator
          platforms: ${{ needs.prepare.outputs.platforms }}
          DOCKER_USERNAME: "${{ vars.DOCKER_USERNAME }}"
          DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
